
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
            <meta charset="utf-8">
            <title></title>
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
            <link href="css/bootstrap.css" rel="stylesheet">
            <link href="css/animate.css" rel="stylesheet">
            <link href="css/all.css" rel="stylesheet">
        </head>
        <body>
             {{>header}}
            <h1>from index page hbs</h1>
            <p>{{title}}</p>
            <h3>created by {{name}}</h3>

            <script src="js/app.js"></script>
            </body>
    </html>